<div class="register-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="username" id="username"/>
      <input type="text" placeholder="email address" id="mail"/>
      <input type="text" placeholder="name" id="name"/>
      <input type="text" placeholder="surname" id="sname"/>
      <input type="password" placeholder="password" id="pass"/>
      <input type="password" placeholder="password" id="againpass"/>
      <button type="button" onclick="register()">register</button>
    </form>
  </div>
</div>
<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

  .register-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3f6b6b;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #4c8484;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    background: #E6E6FA; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
  function register() {
      var username=document.getElementById("username").value;
      var name=document.getElementById("name").value;
      var surname=document.getElementById("sname").value;
      var password=document.getElementById("pass").value;
      var againpass=document.getElementById("againpass").value;
      var email=document.getElementById("mail").value;
      $.ajax({
          type:"POST",
          url:"/users/register",
          data:{device :"web",username:username,name:name,surname:surname,password: password,againpassword: againpass,email:email},
          success:function(data) {
              console.log(data)
              if(data.status=="success") {
                  window.location = "/";
              }
          }

      })
  }
</script>